@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
    font-family: 'Montserrat';
}

:root {
	--colorBackground: rgb(255, 255, 255);
	--colorFont: rgb(0, 0, 0);
	--colorPrimary: rgb(15, 13, 46);
	--colorSecondary: rgb(30, 144, 255);
}

body {
	margin: 0;
	padding: 0;
}

body.dark-mode {
	background-color: rgb(0, 0, 0);
}

body.dark-mode header,
body.dark-mode section {
	background-color: rgb(0, 0, 0);
}

body.dark-mode p,
body.dark-mode a,
body.dark-mode h3,
body.dark-mode h2,
body.dark-mode span,
body.dark-mode i {
	color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
}

body.dark-mode #logo {
	filter: invert(100%); 
}

body.dark-mode .technology-box p {
	color: rgb(0, 0, 0);
}

/* Loader Styles */
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
  
.loader-content {
	text-align: center;
}
  
.loader h1, .loader p {
	margin: 0;
	opacity: 1;
	transform: translateX(0);
	transition: opacity 1s ease, transform 1s ease;
}

.loader h1 {
	font-size: 2rem !important;
	margin-bottom: 0.5rem;
}

.loader p {
	font-size: 1.5rem !important;
}

/* Animación de desaparición */
.fade-out h1 {
	opacity: 0;
	transform: translateX(-100%);
}

.fade-out p {
	opacity: 0;
	transform: translateX(100%);
}

/* Efecto de desvanecimiento y desplazamiento */
.main-content {
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 1s ease, transform 1s ease;
}

.show-content {
	opacity: 1;
	transform: translateY(0);
}

/*Header*/
header {
	position: fixed;
	width: 100%;
	background: var(--colorBackground);
	z-index: 1;
}

.container-header {
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: auto;
	margin-bottom: 1.5rem;
}

#logo {
	cursor: pointer;
	width: 80px;
	padding: 15px 0px 0px 0px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar li {
	list-style: none;
}

.navbar li a {
	text-decoration: none;
}

.navbar {
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
}

.nav-link {
	position: relative;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 4px 8px;
	border-radius: 0.2rem;
	color: rgb(0, 0, 0);
}

.nav-link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--colorSecondary);
	transition: 0.3s all linear;
}

.nav-link:hover::before {
    width: 100%;
}

.navbar li a.active {
	color: var(--colorSecondary); 
}

.menu-icon {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	row-gap: 5px;
	z-index: 200;
	transition: 0.3s;
}

.menu-icon div {
	display: block;
	background: var(--colorSecondary);
	height: 9px;
	width: 39px; 
	transition: 0.3s;
}

.move .line1 {
	transform: rotate(-50deg) translate(-13.4px, 6px);
}

.move .line2 {
	opacity: 0;
}

.move .line3 {
	transform: rotate(50deg) translate(-13.4px, -6px);
}

/*Home*/
.home {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	background: var(--colorBackground);
}

.home-content {
	position: relative;
	max-width: 700px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-img {
	position: relative;
	margin-bottom: 20px;
	border-radius: 50%;
	margin-top: 90px;
	width: 40%;
	background: rgb(30, 144, 255);
}

.home-img img {
	width: 100%;
	max-width: 100%;
	margin-top: -30px;
	transform: translate(0%, 2%);
	border-bottom-left-radius: 50%; 
  	border-bottom-right-radius: 50%;
}

.home-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.greetings-container {
	display: flex;
	align-items: center;
}

.home-text h3 {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--colorFont);
}

.home-text h3::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	left: -15px;
	width: 20px;
	height: 2px;
	background: var(--colorSecondary);
}

.home-text h3::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	right: -68px;
	width: 20px;
	height: 2px;
	background: var(--colorSecondary);
}

.hand-greetings {	
	font-size: 1.8rem;
	animation: greetings 2s infinite;
}

@keyframes greetings {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.home-text h2 { 
	color: var(--colorFont);
}

.home-text p {
	font-size: 1.4rem;
	text-align: center;
	margin-top: 10px;
	color: var(--colorFont);
	padding-bottom: 8px;
}

.social-media {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: -10px;
}

.social-media i {
	padding: 10px;
	font-size: 3rem;
	border-radius: 50%;
	color: var(--colorFont);
}

.social-media i:hover {
	color: var(--colorSecondary);
	transition: 0.3s all linear;
}

.heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: var(--colorFont);
}

/*About me*/
.about.container {
	width: 100%;
}

.about-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.about-data span {
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--colorFont);
}

.about-data h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2.6rem;
	margin: 1rem 0;
	color: var(--colorFont);
}

.btn-cv {
	background: var(--colorSecondary);
	color: var(--colorBackground);
	margin-left: 5px;
	margin-top: 25px;
	padding: 10px;
	width: 100%;
	border: none;
	border-radius: 6px;
	text-decoration: none;
}

.btn-cv:hover {
	background: rgb(41, 101, 179);
	transition: 0.3s all linear;
}

.about-text p {
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 1rem;
	color: var(--colorFont);
}

/*Services*/
.services-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	color: var(--colorFont);
}

.services-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 15px;
	border-radius: 0.4rem;
	transition: 0.5s all ease;
}

.services-box:hover {
	transform: scale(1.05);
	transition: 0.5s all ease;
}

.services-box i {
	font-size: 1.4rem;
	padding: 10px;
	border-radius: 5rem;
	border: 2px dashed var(--colorFont);
}

.services-box:hover i {
  	border-color: dodgerBlue;
	color: dodgerBlue;
}

.services-box h2 {
    font-size: 1.7rem;
}

.services-box p {
	font-size: 1.2rem;
}

/*Projects*/
.projects {
	margin-top: 20px;
}

.projects-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.projects-box {
	position: relative;
	width: 100%;
	height: 320px;
	border-radius: 1rem;
	overflow: hidden;
}

.projects-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.projects-overlay {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: hsl(234, 45%, 16%, 0.7);
}

.projects-overlay h2 {
	color: var(--colorBackground);
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 10px;	
}

.projects-overlay p {
	width: 85%;
	text-align: center;
	color: var(--colorBackground);
	padding: 0px 10px 10px 10px;
}

.icon-links a {
    display: inline-block; 
    margin-right: 10px; 
}

.projects-overlay i {
	font-size: 24px;
	padding: 10px 10px 5px 0px;
	color: var(--colorBackground);
}

.projects-overlay i:hover {
	color: dodgerBlue;
	transition: 0.3 all linear;
}

.projects-box .git {
	font-size: 2rem;
}

.projects-box:hover .projects-overlay {
	top: 0;
	transition: 0.3s all ease;
}

/*Footer*/
.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 960px;
  	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	row-gap: 1.4rem;
	padding: 10px 0px 30px 0px;
	/* border: 1px solid red; */
}

.footer p {
	color: var(--colorFont);
}

.footer-links {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.footer-links a {
	font-size: 1rem;
	font-weight: 400;
	color: var(--colorSecondary);
	text-decoration: none;
}

.footer-links a:hover {
	color: dodgerBlue;
	transition: 0.3s all linear;
}

/*Scroll*/
.scroll-top {
	position: fixed;
	right: 1.5rem;
	transition: 0.3s;
	z-index: 1;
}

.scroll-top i {
	padding: 8px;
	font-size: 2rem;
	color: var(--colorSecondary);
}

.scroll-top i:hover {
	color: dodgerBlue;
	transition: 0.3s all linear;
}

/*Multi Idioma*/
.flags {
	display: flex;
	width: 75px;
	align-items: center;
	justify-content: space-between;
}

.flags__item {
	width: 30px;
}

.flags__img {
	display: block;
	cursor: pointer;
	border-radius: 100%;
	filter: grayscale(100%); 
}

.flags__img:hover {
	filter: grayscale(0%); 
}

/*Tecnologias*/
.technologies-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.technology-box {
	width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
	cursor: grab;
}

.technology-box:active {
    cursor: grabbing;
    opacity: 0.6;
}

.technology-box:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.technology-box svg {
    width: 64px; 
    height: 64px;
	padding: 5px;
    color: #333;
	transition: transform 0.3s ease;
}

.technology-box:hover svg {
    transform: scale(1.1);
}

.technology-box p {
    font-size: 1.2rem; 
    color: #333; 
    text-align: center; 
}

/* Desvanecimiento de secciones */
.fade-in {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}
  
.fade-in.visible {
	opacity: 1;
}

#dynamic-text {
	font-size: 1.5rem;
	font-weight: bold;
}

/*  */
.why-me {
	padding: 30px 0px 0px 0px;
}

.heading-why-me {
	text-transform: uppercase;
	color: var(--colorSecondary);
}

.why-me-description h2 {
	padding: 10px 0px 10px 0px;
}

.why-me-description p {
	font-size: 1.1rem;
	padding-left: 10px;
}

.why-me-description span {
	color: var(--colorSecondary);
}

.why-me-who {
	display: flex;
	padding: 20px 0px 20px 0px;
	flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea */
	/* border: 1px solid red; */
}

.why-me-who h2 {
	padding: 10px 0px 10px 0px;
}

.why-me-who .img, .why-me-who .description {
	width: 50%;
}

.description ul {
    list-style: none;
	padding-left: 10px;
}

.description li {
	font-size: 1.1rem;
    margin-bottom: 10px;
}

.description li span {
	font-weight: bold;
}

.why-me-who .img {
	display: flex;
	justify-content: center;
	height: 80vh;
}

.why-me-who .img img {
    width: 70%;      
    height: auto;     
    border-radius: 8px;
    object-fit: cover; 
}

/* Responsive */
@media only screen and (min-width: 480px) and (max-width: 1025px) {
	/* Loader */
	.loader h1 {
		font-size: 4rem !important;
	}
	
	.loader p {
		font-size: 2.5rem !important;
	}
	/*Header*/
	/* header {
		border: 1px solid blue;
	} */

	.nav {
		margin-top: 18px;
		padding: 1rem 2rem;
	}

	section {
		padding: 0px 25px;
	}

	.navbar {
		position: absolute;
		top: 0;
		right: -100%;
		width: 300px;
		height: 100vh;
		background: var(--colorBackground);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 20px;
		transition: 0.5s;
	}

	body.dark-mode .navbar {
		background-color: rgb(0, 0, 0);
	}

	.nav-link {
		font-size: 2rem;
	}

	#logo {
		width: 125px;
	}

	.menu-icon {
		display: flex;
		margin-right: 30px;
	}

	.open-menu {
		right: 0;
		transition: 0.5s;
	}

	.nav-link {
		display: block;
		margin: 1rem;
	}

	/*Home*/
	.home {
    	padding-top: 7rem;
	}

	.home-content {
		max-width: 100%;
	}

	.greetings-container {
		margin-top: 1rem;
	}

	.hand-greetings {
		font-size: 2.5rem;
	}

	.home-text h3::after {
		right: -83px;
	}

	.home-text h3 {
		font-size: 2.7rem;
	}

	.home-text h2 {
		width: 100%;
		font-size: 3rem;
		margin-top: 0.5rem;
	}

	.home-text .text-home {
		margin: 1.2rem 3rem 0rem 3rem;
		text-align: center;
	}

	.social-media i {
		font-size: 6rem;
		margin-top: 1.5rem;
	}

	/*Headings*/
	.heading {
		font-size: 4rem;
		margin-top: 5rem;
		margin-bottom: 2rem;
	}

	/*About me*/
	.about-content {
		display: block;
		max-width: 100%;
	}

	.about-content span {
		font-size: 2rem;
	}

	.about-content h2 {
		font-size: 2.6rem;
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 2.5rem;
	}

	.btn-cv {
		display: flex;
		margin: 0 auto;
		max-width: 39%;
		border-radius: 10px;
		padding: 15px;
		font-size: 3rem;
	}

	#dynamic-text {
		margin: 0 auto;
		padding: 3rem 0px;
		max-width: 90%;
	}

	.about-text {
		margin: 3rem 2rem 0rem 3rem;
	}

	.about-text .text-about {
		text-align: left;
		font-size: 1.4rem;
	}

	/*Services*/
	.services-content {
		display: block;
		max-width: 100%;
	}

	.services-box {
		margin: 0px 0px 50px 0px;
	}

	.services-box p {
		margin: 10px 0px;
		text-align: center;
		width: 95%;
	}

	.services-box i {
		font-size: 4rem;
		padding: 20px;
		border-radius: 5rem;
		border: 2px dashed var(--colorFont);
	}

	/*Projects*/
	.projects-content {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.projects-box {	
		margin: 0 auto;
		width: 84%;
		height: 39vh;
		margin-bottom: 5%;
	}
	
	.projects-overlay h2 {
		font-size: 3rem;
	}

	.projects-overlay p {
		font-size: 2.2rem;
		padding: 0px 25px 0px 25px;
		text-align: center;
	}

	.projects-overlay i {
		margin-top: 20px;
		font-size: 3rem;
	}

	.projects-overlay .git {
		font-size: 3rem;
	}

	/*Scroll*/
	.scroll-top i {
		font-size: 4rem;
	}

	/*Flags*/
	.flags {
		margin-right: 4rem;
		width: 150px;
	}
	
	.flags__item {
		width: 65px;
	}	

	/*Footer*/
	.footer-content { 
		padding: 0px 0px 30px 0px;
	}

	.footer p {
		font-size: 2.3rem;
	}

	/*Tecnologias*/
	.technologies-content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 2rem;
		margin-top: 2rem;
	}
	
	.technology-box {
		width: 20%;
	}
	
	.technology-box svg {
		width: 84px;
		height: 84px;
		padding: 5px;
	}
	
	.technology-box p {
		font-size: 2rem; 
	}


	/*  */
	.why-me {
		padding-left: 30px;
	}
	
	.why-me-content h2 {
		padding: 30px 0px;
	}

	.why-me-content li {
		margin-bottom: 30px;
	}

	.why-me-who {
		flex-direction: column;
	}

	.why-me-who .img, .why-me-who .description {
		width: 100%;  
	}

	.why-me-who .img {
		height: 62vh;
	}

	.why-me-who .img img {
		height: 60vh;
	}
}